@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	background: rgb(235, 235, 235);
}
header {
	height: 60px;
	background: white;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.center {
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin: 0 auto;
}
.logo {
	color: rgba(135, 84, 255);
	cursor: pointer;
}
.logo h2 {
	margin: 10px 0 0 0;
}
header nav ul {
	list-style: none;
	padding: 0;
	width: 300px;
}
header nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 0.5em;
	width: 100px;
}

.navElement {
	background: rgb(135, 84, 255);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	position: relative;
	cursor: pointer;
	transition: 0.2s;
}
.navElement:hover {
	transform: scale(1.1);
}
.navElement:active {
	transform: scale(1.09);
}
.navElement img,
.navElement svg {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#shoppingCartCounter {
	position: absolute;
	background: rgb(72, 240, 255);
	border: 1px solid rgb(135, 84, 255);
	color: rgb(39, 2, 124);
	line-height: 15px;
	font-size: 10px;
	right: -10%;
	top: -10%;
	padding-left: 8px;
	width: 14px;
	height: 17px;
	border-radius: 50%;
	z-index: 1;
}
#containerOfProducts {
	display: flex;
	width: 70%;
	flex-wrap: wrap;
	justify-content: space-around;
	justify-items: center;
	padding: 3em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.product {
	background: white;
	border: 1px solid rgb(219, 219, 219);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding: 2em 3em;
	text-align: center;
	transition: 0.2s;
	opacity: 0.9;
	cursor: pointer;
	width: 15%;
}
.product:hover {
	transform: translateY(-2px);
	opacity: 1;
}
.product img {
	width: 150px;
	height: 150px;
}
.product h3 {
	text-transform: capitalize;
}
.product p:nth-of-type(1) {
	color: rgb(66, 66, 66);
}
.product p:nth-of-type(2) {
	font-weight: 600;
}
.product button {
	cursor: pointer;
	padding: 0.5em 1em;
	outline: none;
	border: none;
	background: rgb(135, 84, 255);
	color: white;
}
.product button:hover {
	opacity: 0.8;
}
.product button:active {
	opacity: 1;
}
